/* Username Color */
#chat .user-5618102d6d8d111d002aca6f .username { /* Igorce9 */
  color: #DB182E !important;
  font-weight: bold;
}
#chat .user-560975bc8d4e570300dcbbf5 .username { /* Medeiros */
  color: #238341 !important;
  font-weight: bold;
}
#chat .user-5606a17880fe8d0300855333 .username { /* Vovo_Doido */
 color: #FF7700 !important;
 font-weight: bold;
}

/* Badge */
#chat .user-5618102d6d8d111d002aca6f .image_row { /* Igorce9 */
	content: url(https://www.dropbox.com/s/smokgtodlttpwb9/DEVBADGE30px.png?raw=1);
}
#chat .user-560975bc8d4e570300dcbbf5 .image_row { /* Medeiros */
  content: url(https://www.dropbox.com/s/kc4dejy9c1ynb51/SPRDBADG30px.png?raw=1);
}

#chat .user-5606a17880fe8d0300855333 .image_row { /* Vovo_Doido */
  content: url(https://www.dropbox.com/s/4yqjnsjn77bhdsg/VIPBADGE30px.png?raw=1);
}

/* Icon */
#chat .chat-container ul.chat-main li.user-5618102d6d8d111d002aca6f .activity-row .text p a.username:before { /* Igorce9 */
    content: url(https://i.imgur.com/7MHdeHw.png);
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}

#chat .chat-container ul.chat-main li.user-560975bc8d4e570300dcbbf5 .activity-row .text p a.username:before { /* Medeiros */
    content: url(https://i.imgur.com/8C2lwaC.png);
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}

#chat .chat-container ul.chat-main li.user-5606a17880fe8d0300855333 .activity-row .text p a.username:before { /* Vovo_Doido */
    content: url(https://i.imgur.com/ewa2dr8.png);
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}

/* UserList Role */
.user-swordling p.dubs:after, .user-the_igorce9 p.dubs:after {
    content: " - OrigemDub Creator";
    font-weight: 700;
    color: #DB182E !important;
}
.user-swordling p.dubs:after, .user-medeiros p.dubs:after {
    content: " - OrigemDub Spreader";
    font-weight: 700;
    color: #238341 !important;
}

.user-swordling p.dubs:after, .user-vovo_doido p.dubs:after {
    content: " - OrigemDub Vip";
    font-weight: 700;
    color: #FF7700 !important;
}
